@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ocultar la barra de desplazamiento en navegadores WebKit */
.overflow-y-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar la barra de desplazamiento en Firefox */
  .overflow-y-scroll {
    scrollbar-width: none;
  }
  .overflow-x-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar la barra de desplazamiento en Firefox */
  .overflow-x-scroll {
    scrollbar-width: none;

  }

  .overflow-y-auto{
    scrollbar-width: none;

  }
  .overflow-y-auto::-webkit-scrollbar {
    display: none;
  }